.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding: 1rem 1rem;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item .nav-link {
	color: #808080;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #ff8c1a;
	text-decoration: underline;
}
.jumbotron  {
	background-color: #ffdab3;
}
.jumbotron .btn  {
	background-color: #b35900;
	border: none;
}
.jumbotron .btn:hover {
	background-color: #ffa94d;
}
